form {width: 300px;margin: 0 auto;margin-top: 50px;border: 1px solid #8e8e8e;padding: 30px;text-align: center;}
.input_group {width: 100%;margin-bottom: 10px;}
.input_group label {margin-right: 10px;}