.user_info {padding: 50px;}
.user_info dl:nth-of-type(1) {border-top: 1px solid #999;}
dl {border: 1px solid #999;border-top: 0;padding: 10px;position: relative;}
dt {width: 80px;float: left;line-height: 20px;}
dd {float: left;}
.delete {position: absolute;top: 0;right: 20px;line-height: 20px;padding: 10px 0;cursor: pointer;}
.add_user {margin-top: 50px;padding-left: 50px;}
.add_user_form input {width: 50%;border: 1px solid #8e8e8e;padding: 10px;line-height: 20px;margin-bottom: 10px;}
.business {}
.search_wrap {width: 300px;border: 1px solid #8e8e8e;padding: 30px;margin-top: 100px;margin-left: 100px;}
.search_wrap form {margin-bottom: 10px;}
.search_wrap form input[type="text"] {margin-bottom: 8px;}
.goods_delete {margin-left: 20px;cursor: pointer;}
.goods_list {padding: 50px;}
.goods_list li {line-height: 20px;}
table th,table td {width: 100px;text-align: left;}